{% extends 'base.html'%} {% import 'macros.html' as macro%}{% block content %}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
<div class="jumbotron" style="margin-top: -1cm;background-image: url('https://lh3.googleusercontent.com/proxy/I_N3kZklgvnUj3OoKCzSMFcRODFygHE42Op3AzI_tIZQZtdKvDeJdlnhLofjowXf1SD_4cgCA8ZTR862HlTD-588zCyLoOOPjdEcIVmsWaQuQ3r_mwtcEBA6jkYnz4REdnOec0H30zWcrdNM');background-size: cover; height: 750px; background-position: center;"></div>

<div class="container-fluid" style="background-color: white; margin-top: -1cm;">

    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" style="font-family: 'Satisfy', cursive;margin-left: 20px;">General News</h3>
                    {{ macro.displayNewsList(general)}}
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" style="font-family: 'Satisfy', cursive;margin-left: 20px;">Business News</h3>
                    {{ macro.displayNewsList(business)}}

                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" style="font-family: 'Satisfy', cursive;margin-left: 20px;">Technology News</h3>
                    {{ macro.displayNewsList(technology)}}

                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" style=" font-family: 'Satisfy', cursive;;margin-left: 20px;">Health News</h3>
                    {{ macro.displayNewsList(health)}}

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" style="font-family: 'Satisfy', cursive;margin-left: 20px;">Entertainment News</h3>

                    {{ macro.displayNewsList(entertainment)}}

                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" style="font-family: 'Satisfy', cursive;margin-left: 20px;">Sports News</h3>

                    {{ macro.displayNewsList(sports)}}

                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" style="font-family: 'Satisfy', cursive;;margin-left: 20px;">Science News</h3>

                    {{ macro.displayNewsList(science)}}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}